<%- include ("partials/header")%>
<div class="container">
	 <div class="jumbotron">
	<h1>
		Yelpcamp Campgrounds
	</h1>
	<p>
		Let's have a look at the most famous campgrounds.Get Ready!!
	</p>
</div>
</div>
<%- include ("partials/footer")%>